//FONT FAMILY
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    gap: 1em;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2em;
    background-color: #F2F2F2;
    border-radius: 12px;


    .product {
        display: flex;
        gap: 1em;

        .item-img {
            //image
            max-width: 8em;
            border-radius: 12px;
        }
    }

    .item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1; //thanks Kevin Powell

        .product-metadata {

            .name-price {
                display: flex;
                flex-direction: column;
                gap: 1em;

                h4 {
                    white-space: nowrap;
                }
                @media screen and (max-width: 362px) {
                    h4 {
                        white-space: pre-wrap;
                    }                
                }

                .price {
                    display: flex;
                    gap: 1em;
                    align-items: center;


                    >:nth-child(1) {
                        color: #F2994A;
                        font-weight: bold;
                    }

                    >:nth-child(2) {
                        font-size: 11px;
                    }
                }
            }
        }

        .quantity {
            display: flex;
            gap: 1em;
            border: 1px solid #828282;
            justify-content: center;
            padding: 10px;
            border-radius: 10px;
            max-width: 7em;

            i {
                color: #828282;
                background-color: #E0E0E0;
                border-radius: 5px;
                padding: 2px;
                cursor: pointer;
            }

            p {
                font-weight: bold;
            }
        }
    }

    //PAYOUT
    .payout {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        hr {
            color: #BDBDBD;
        }

        .shipping,
        .total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #333333;

            p {
                font-weight: 600;
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 2em;


    .contact {
        display: flex;
        flex-direction: column;
        gap: 1em;
        // outline: 1px solid green;

        .email,
        .phone {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .email-field,
            .phone-field {
                display: flex;
                align-items: center;
                gap: 1em;
                border: 1px solid #828282;
                border-radius: 12px;
                padding: 10px;

                label {
                    width: 100%;

                    input {
                        width: 100%;
                        border: none;
                    }
                    input:focus{
                        accent-color: #fff;
                    }
                }
            }
        }
    }

    .shipping-form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        // outline: red solid 1px;

        .name,
        .address,
        .city {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .name-field,
            .address-field,
            .city-field {
                display: flex;
                align-items: center;
                gap: 1em;
                border: 1px solid #828282;
                border-radius: 12px;
                padding: 10px;

                label {
                    width: 100%;

                    input {
                        width: 100%;
                        border: none;
                    }
                    input:focus{
                        accent-color: #fff;
                    }
                }
            }
        }

        // country postal
        .country-postal-wrapper {
            display: flex;
            gap: 0.5em;
            justify-content: center; //m3leeem

            .country {
                display: flex;
                flex-direction: column;
                gap: 1em;
                justify-content: center;
                width: 50%;

                .country-field {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    border: 1px solid #828282;
                    border-radius: 12px;
                    padding: 10px;

                    select {
                        width: 1.5em; //WOW IMPRESSIVE WAY TO SHOW ONLY THE ARROW!! SELF MADE TOO WELL DONE
                    }

                }
            }

            .postal {
                display: flex;
                flex-direction: column;
                gap: 1em;
                justify-content: center;
                width: 50%;
                // align-items: center;

                .postal-field {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    border: 1px solid #828282;
                    border-radius: 12px;
                    padding: 10px;

                    label {
                        input {
                            width: 10em;
                            border: none;
                        }
                        input:focus{
                            accent-color: #fff;
                        }
                    }
                }
            }
        }

        .final {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            gap: 2em;

            .save {
                display: flex;
                gap: .5em;

                label {
                    input{
                        accent-color: #F2994A;
                    }
                }
            }

            .submit-wrapper {
                align-self: flex-end;

                input {
                    background: #F2994A;
                    border-radius: 12px;
                    padding: 1em 3em;
                    color: #fff;
                }
                
            }
        }

    }

}

//----------BIG SCREENS----------//

@media screen and (min-width: 870px) and (max-width: 1440px){
    body{
        display: grid;
        grid-template-columns: 1.3fr 1fr; //wowwwwwww
        padding: 2em 8em;
        column-gap: 2em;
        place-content: center;

        header {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .cart {
            order: 2; //WOW 
            height: fit-content;
        }
    }
}